/* Footer.css */

.main-container {
  height: 479px;
  background-color: #002A4D;
  ;
}

.logo {
  margin-top: 38px;
  margin-bottom: 38px;
  width: 206.794px;
  height: 89px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin-left: 150px
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.footer-column {
  display: flex;
  margin-bottom: 24px;
}

.footer-icon {
  margin-right: 25px;
}

.footer-icon img {
  width: 24px;
  height: 24px;
}



.footer-text {

  font-size: 16px;
  color: white;
  font-style: "Poppins";
  text-align: left;
  font-weight: 400;
  width: 282px;
}

.footer-container p {
  text-align: left;
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 20px;
}

.footer-section {
  margin-left: 60px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  color: #FFF;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
}

.newsletter-section {
  width: 304px;
  height: 184px;
  border-radius: 10px;
  background: #17456B;
  margin-left: 129px;
  padding: 14px;
}


.newsletter-section .heading {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;

}

.newsletter-section .subscription-text {
  color: #FFF;
  font-family: "Manrope";
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
  width: 277px;
  line-height: normal;
  margin-top: 19px;
  text-align: left;
}

.newsletter-section img {
  width: 105px;
  height: 39px;
  cursor: pointer !important;
}

.newsletter-signup {
  display: flex;
}

.newsletter-section input {
  width: 170px;
  height: 35px;
  background: #02273A;
  color: #616161;
  font-family: "Poppins";
  font-size: 11px;
  border: none;
  outline: 'none'
}

input:focus {
  outline: none;
}


.image {
  position: relative;
  background-size: cover;
  color: #FFF;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 11px 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 1280.5px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #FFF;
  margin-bottom: 30px;
}