/* HeroSection.css */

/* General styles */
.hero-section {
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 60px;
  }
  
  /* Image upload section */
  .image-upload {
    width: 1440px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .main-image {
    width: 317px;
    height: 286px;
    border-radius: 11.757px;
    border: 1.176px dashed #000;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .upload-label {
    cursor: pointer;
  }
  
  .upload-label input {
    display: none;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11.757px;
  }
  
  .sub-images {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  
  .sub-image {
    width: 144.615px;
    height: 134.033px;
    flex-shrink: 0;
    border-radius: 11.757px;
    border: 1.176px dashed #000;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .static-image {
    width: 317px;
    height: 286px;
    overflow: hidden;
    border-radius: 11.757px;

  }
  
  .static-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

    /* SVG logo  */
    .svg-container {
        margin: 0 auto;
        border-radius: 5.514px;
        background: #ebebeb;
        width: 47.029px;
        height: 41.151px;
        flex-shrink: 0;
      }
      
      .svglogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47.029px;
        height: 41.151px;
      }
      
      /* Text styles */
      .upload {
        color: rgba(0, 96, 249, 0.6);
        font-family: "Inter";
        font-size: 16.46px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.515px;
      }
      
      .text-subimages {
        color: rgba(0, 96, 249, 0.6);
        font-family: "Inter";
        font-size: 11.027px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.753px;
      }
      
      .imagebox-text {
        margin-top: 12px;
        color: rgba(55, 65, 81, 0.5);
        font-family: "Inter";
        font-size: 11.027px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.753px;
      }
      
      .main-imagebox-text {
        margin-top: 24px;
        color: rgba(55, 65, 81, 0.5);
        font-family: "Inter";
        font-size: 16.46px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.515px;
      }
  
  /* Input container */
  .input-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
  }
  
  .input-group label {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
padding-bottom: 5px;
  }
  
  .input-group input {
    border-radius: 8px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--white, #fff);
    width: 100%;
    height: auto;
    padding: 10px 14px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .hint-text{
    text-align: start;
    font-family: "Inter";
    color:#667085;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
  }


  

  