.heading,
.subHeading {
  color: #08110c;
  text-align: center;
  font-family: "Plus Jakarta Sans";
}

.subHeading {
    font-size: 16px;
}

.heading{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1.2rem;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .blogsPostContainer{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  }

.blogsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto; 
}

.blogsPostContainer {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
  width: 120%;
  padding: 1.2rem;
}

.title, .propertyDetails, .propertyFacilities{
    color: var(--gray-500, #6B7280);
    font-family: "Inter";
    font-size: 14px;
    text-align: left;
    margin-bottom: 0.4rem;

}

.subTitle{
    color: #141414;
font-family: "Inter";
font-size: 18px;
font-weight: 600;
text-transform: capitalize;
text-align: left;
width: 60%;
margin-bottom: 1.2rem;
}


.blogsPostContainer img{
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
 }
